.work-sans-worksencfont {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.dark-1 {
    color: rgba(19, 19, 19, 1);
}

.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.dark-4 {
    color: rgba(161, 161, 161, 1);
}

.t1 {
    font-size: 2.8rem;
    /* Title Font style */
}

.t2 {
    font-weight: bold;
    font-size: 2.8rem;
}

.t3 {
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(255, 144, 14, 1);
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    
    /* max-height: 1322px; */
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 41px;
    border: none;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* header styles */
/* navbar related syles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.brand {
    font-weight: bold;
    font-size: 2.8rem;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* Banner related style */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
    /* 1rem = 16px [rem = px/16] */
}

.banner-description {
    font-weight: normal;
    font-size: 16px;
}

.banner-img {
    width: 100%;
    margin-bottom: 60px;
}

/* Team and Feture Elements */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-left:250px ; */
}

.our-features {
    margin-left: 73px;
    max-width: 537px;
}

/* Features you will....Style */
#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.frature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}

.f-title {
    /* semiBold = 600 */
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -95px;
}
#big-text{
    font-weight: bold;
    font-size: 65px;
}
#normal-text{
    font-weight: 500;
    font-size: 25px;
}

.features{
    gap: 146px;
}
.feture-img img{
    width: 100%;
}
/* some facts related styles */

.fact-desceiption {
    margin-bottom: 50px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border-bottom: 8px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* Sponspors Related style */

.sponsor-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsor-brands img {
    filter: grayscale(100%);
}
/* Footer Style */
.footer-text{
    font-size: 20px;
    font-weight: 400;
    padding: 38px ;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

/* Respnsive Media Query [For Mobile Device] */
@media screen and (max-width:576px) {

    .navbar,
    .nav-link,
    .teams,
    .features {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-brands {
        grid-template-columns: 1fr;
    }

    .our-features {
        margin-left: 25px;
    }
    
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-brands {
        justify-items: center;
        gap: 50px;
    }
    .footer-text{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        padding: 10px;
        width: 100%;
    }
}

/* Respnsive Media Query [For Medium or Tablet Device] */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features {
        flex-direction: column;
    }

    .our-features {
        margin-left: 50px auto;
    }
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .footer-text{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        padding: 20px ;
    }

    .sponsor-brands,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}